

*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
}

body{
    margin: 10px;
}

.headercontainer .main-nav{
    height: 70px;
    width:100%;
    background-color: white;
    display:flex;
    justify-content:space-between;
    border-radius: 10px;
    
}

.main-nav .nav-list-items{
    display:flex;
    list-style-type: none;
    margin:auto;
    padding:auto;
    align-items:center;
}

.nav-list-items .list-item{
    padding: 10px 20px;
    font-size: 18px;
}

.list-item {
    transition: all ease 0.5s;
    animation: loadtop 1s ease;
}

.list-item:hover{
    transition: all ease 0.5s;
    transform: translateY(-5px);
}

.list-item a{
    text-decoration:none;
    color: rgb(85, 85, 85);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    transition: all ease 0.5s;
    
}

.contactus{
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border:none;
    transition: all ease 0.3s;
    background-color:maroon;
    color:white;
    width: fit-content;
    animation: loadright ease 1s;
}

.contactus a{
    text-decoration:none;
    font-family:'Verdana';
    font-size: 18px;
    font-weight: bolder;
}

.contactus:hover{
    color: white;
    background-color:rgb(170, 0, 0);
    transition: all ease 0.3s;
}

.contactus a:visited{
    color:inherit;
}

.list-item a:hover{
    background-color:#f0f0f0;
    color:maroon;
    transition: all ease 0.5s;

}

.logo{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto 10px;
    line-height:150%;
    animation: load 1s ease;
}

.logo .toptext{
    font-size: 30px;
    font-weight:bolder;
    text-transform: uppercase;
    color:black;
    text-decoration:none;
    margin-bottom: 0;
}

.nyc{
    margin-top: 0;
    color:maroon;
    font-size: 25px;
}

.aboutus{
    text-align:center;
}


/* MAIN CONTENT AREA --> */
.maincontentcontainer{
    width: 100%;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}

/* BANNER IMAGE SECTION */
.imagecontainer{
    width: 100%;
}

.image{
    width: 100%;
    height: 800px;
}

/* LOAD IN ANIMATIONS */

@keyframes load{
0%{
    transform: translateX(-100%);
}

100%{
    transform: translateX(0%);
}
}

@keyframes loadright{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes loadtop{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%)
    }
}

/* MEDIA QUERIES */

@media (max-width: 1440px) {
.contactus{
min-width: 230px;
align-items:center;
}
}

@media (max-width: 884px) {
.contactus{
min-width: 230px;
}
.logo{
min-width:fit-content;
}


.nav-list-items{
min-width:fit-content;
}
}

@media (max-width: 600px) {
    .headercontainer{
    display:flex;
    justify-content:center;
    flex-direction: column;
    max-height: fit-content;
}
.main-nav{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align:center;
}

.image{
margin-top: 250px;
max-height: 300px;
max-width: 100%;
min-width: 100%;
}

.contactus{
margin: 0 auto;
min-width: 230px;
min-height: 50px;
align-items:center;
}

.nav-list-items{
    display:flex;
    justify-content:center;
    flex-direction: column;
    min-width: fit-content;
}

}